body {
    padding: 20px;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    max-width: 380px;
    text-align: center;
}

.login-icon {
    position: absolute;
    top: 40px;
    right: 40px;
    color: #0d6efd;
    text-decoration: none;
    transition: transform 0.2s ease;
}

.login-icon:hover {
    transform: translateX(6px);
    color: #0b5ed7;
}

label[for="balance"] {
    text-align: left;
    font-weight: bold;
    font-size: 14px;
    color: #0d6efd;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    font-family: "Avenir", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#sub_texto {
    font-weight: bold;
    text-align: left;
    margin: 40px 0 10px 0;
    font-size: 16px;
}

/* grilla botones */
.wallet-grid {
    display: flex;
    gap: 10px;
    justify-items: center;

}

.wallet-card {
    background: #0d6efd;
    color: white;
    width: 100%;
    height: 110px;
    border-radius: 16px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    transition: transform 0.2s ease, background 0.2s ease;
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.25);

}

.wallet-card:hover {
    transform: translateY(-5px);
    text-decoration: none;
}

.icon-top {
    font-size: 26px;
    margin-bottom: 8px;
}

.divider {
    width: 50%;
    height: 2px;
    background: rgba(255, 255, 255, 0.6);
    margin: 5px auto;
    border-radius: 1px;
}

.label {
    margin-top: 8px;
    font-size: 12px;
    font-weight: 600;
}