   body {
       background: #f2f2f2;
       padding: 20px;
       display: flex;
       justify-content: center;
       align-items: center;
       min-height: 100vh;
   }

   .container {
       max-width: 420px;
       background: white;
       padding: 25px 20px;
       border-radius: 20px;
       text-align: center;
   }

   h2 {
       font-weight: 700;
       margin-bottom: 20px;
   }

   .list-group-item {
       border-radius: 14px;
       margin-bottom: 12px;
       border: 1px solid #ddd;
       font-size: 15px;
       display: flex;
       align-items: center;
       gap: 12px;
   }

   .list-icon {
       font-size: 20px;
       color: #0d6efd;
   }

   .btn-return {
       display: block;
       margin-top: 20px;
       text-align: center;
       font-weight: 600;
       text-decoration: none;
       color: black;
       padding: 10px;
       border-radius: 20px;
       transition: 0.2s ease;
   }

   .btn-return:hover {
       transform: translateX(-5px);
       color: #0d6efd;
   }