.login-icon {
    display: inline-block;
    text-decoration: none;
    margin-top: 10px;
}

.login-icon i {
    color: #0d6efd;
    transition: 0.2s;
}

.login-icon:hover {
    transform: translateX(-6px);
}